<section class="about">
  <div class="container">
    
    <img
        class="about__logo"
        src="{{ '/images/logo.svg' | asset_url }}"
        alt="ShotBasketball23 Team"
        loading="eager"
        fetchpriority="high"
      >

    <p class="about__text">
      We are a professional basketball skills academy based in Barcelona. Founded in 2020, we deliver structured
      and intensive training for all ages, combining athletic performance with mental and character development.
    </p>

    <a href="/pages/about-us" class="btn btn--red">ABOUT US</a>

    <img
      class="about__image"
      src="{{ '/images/hero.png' | asset_url }}"
      alt="ShotBasketball23 Team"
      loading="eager"
      fetchpriority="high"
    >
  </div>
</section>
