<section class="explore">
  <div class="container">
    <h2 class="explore__heading">EXPLORE</h2>

    <div class="explore__grid">

      <a href="/collections/all" class="explore__card">
        <img
          class="explore__card-image"
          src="{{ '/images/explore1.png' | asset_url }}"
          alt="Shop and Merchandise"
          loading="lazy"
          width="auto"
          height="auto"
        >
        <p class="explore__card-title">SHOP & MERCHANDISE (COMING SOON)</p>
        <p class="explore__card-subtitle">SHOTBASKETBALL23 STORE</p>
      </a>

      <a href="/pages/about-us" class="explore__card">
        <img
          class="explore__card-image"
          src="{{ '/images/explore2.png' | asset_url }}"
          alt="About Us"
          loading="lazy"
          width="auto"
          height="auto"
        >
        <p class="explore__card-title">ABOUT US</p>
      </a>

    </div>
    <div class="explore__logo">
      <img
          class="explore__logo-image"
          src="{{ '/images/explore_logo.png' | asset_url }}"
          alt="About Us"
          loading="lazy"
          width="226px"
          height="242px"
      >
    </div>
  </div>
</section>
